# Swedish sentiment data
The present dataset is a collection of swedish sentences labelled as having positive or negative sentiment.
It was collaboratively generated with ChatGPT.

## Code version

In [1]:
!echo "==latest commit==" && git log -1 && echo "" && echo "==modified files==" && git status --short -uno

==latest commit==
commit ac1c1a57f609e9c652b2b8c2bc7686d35843ed76 (HEAD -> main)
Author: Edvard Lindelöf <edvardlindelof@gmail.com>
Date:   Sun Dec 28 11:49:33 2025 +0100

    add swedish_sentiment_{train,val,test}.jsonl

==modified files==

## Dataset characterization
Here are a few samples and statistics to help get a feel for the data.
We see that there are 150 unique texts equally distributed over the three splits.
Texts are short, usually between 5 and 20 words.
Label distribution is balanced.

In [2]:
import pandas as pd

df = pd.concat(
    [
        pd.read_json(f"../data/swedish_sentiment_{split}.jsonl", lines=True).assign(split=split)
        for split in ["train", "val", "test"]
    ]
)

pd.set_option('display.max_colwidth', None)
df.sample(5)

,text,label,split
37,Det var slut på min favoritost i butiken,negative,test
10,Glad Star Wars-dag! may the fourth be with you,positive,val
40,Restaurangen hade stängt när vi kom dit,negative,val
15,Jag blev helt överväldigad av att dessa killar fortfarande kan spela en riktigt bra spelning.,positive,test
36,"Säkerheten var överdriven, tog en evighet att komma in",negative,train

In [3]:
df.describe()

                                                   text     label  split
count                                               150       150    150
unique                                              150         2      3
top     Sångaren var hes och missade hälften av tonerna  positive  train
freq                                                  1        82     50

In [4]:
df["length"] = df["text"].str.split().str.len()
df["positive"] = df["label"] == "positive"

df.groupby("split").agg({"text": "count", "length": ["mean", "min", "max"], "positive": "mean"})

       text length         positive
      count   mean min max     mean
split
test     50   8.50   4  31     0.54
train    50   8.02   5  17     0.54
val      50   8.74   5  20     0.56